body {
	//when is opened
	&.open-menu {
		.side-menu {
			//the button
			.nav-header{
				.navbar-side-btn {
					left: 227px;
					transition: all ease-in 0.3s;
					@include mobile{
						left: 0;
					}
				}
			}
			.nav-collapse {
				left: 0;
				transition: all ease-in 0.3s;
			}
		}
	}
	//brand
	.the-logo {
		position: absolute;
		z-index: 10;
		top: 57px;
		left: 53px;
		img{
			max-width: 100%;
		}
		@include mobile {
			position: fixed;
			z-index: 14;
			top: 10px;
			left: 44%;
			width: 46px;
		}
	}
	.the-fly{
		position: fixed;
		z-index: 10;
		top: 65px;
		right: 0;
		img{
			max-width: 100%;
		}
	}
	//The menu default
	.side-menu {
		position: fixed;
		height: 100%;
		z-index: 10;
		top: 0;
		left: 0;
		//the button
		.nav-header{
			.navbar-side-btn {
				position: fixed;
				width: 50px;
				height: 50px;
				z-index: 2;
				border: none;
				background-color: transparent;
				border: none;
				top: 50%;
				left: 0;
				margin-top: -30px;
				transition: all ease-out 0.5s;
				@include mobile{
					top: 0;
					margin-top: 0; 
					background-color: $yellow;
					width: 100%;
				}
				span {
					display: block;
					width: 90%;
					max-width: 34px;
					height: 4px;
					margin: 7px auto;
					background-color: $yellow;
					@include mobile {
						margin: 7px;
						background-color: $black;
					}
				}
			}
		}
		.nav-collapse {
			width: 227px;
			height: 100%;
			position: fixed;
			top: 0;
			left: -227px;
			transition: all ease-out 0.5s;
			background-color: $opGrey;
			.navbar-brand {
				float: none;
				position: relative;
				z-index: 20;
				img {
					display: block;
					max-width: 100%;
					margin: 2em auto 0;
				}
			}

			.lang-select{
				width: 100%;
				text-align: center;
				color: $white;
				@include desktop {
					position: absolute;
					bottom: 13%;
				}
				ul {
					padding: 0;
					li {
						display: inline-block;
						vertical-align: middle;
						a {
							color: $white;
							display: inherit;
						}
						.wpml-ls-display {
							display: none;
						}
						&:first-child {
							&:after {
								content: "";
								display: inline-block;
								vertical-align: middle;
								width: 2px;
								height: 30px;
								background-color: $white;
							}
						}
					}
				}
			}

			.nav.navbar-nav,
			#menu-menu-en-ingles,
			#menu-menu-espanol{
				padding: 0;
				margin: 0;
				float: none;
				width: 100%;
				li{
					display: block;
					width: 100%;
					float: none;
					a {
						text-align: center;
						text-transform: uppercase;
						color: $white;
						display: block;
						width: 100%;
						font-size: em(18);
						font-family: $raleebd;
						transition: all 0.4s;
						&.active,
						&:active,
						&:focus,
						&:hover{
							border: none;
							background-color: transparent;
							color: $yellow;

						}
					}
					&.active {
						a {
							border: none;
							background-color: transparent;
							color: $yellow;
						}
					}
				}
			}

			.follow {
				position: absolute;
				z-index: 20;
				bottom: 5%;
				width: 100%;
				@include mobile {
					position: relative;
					bottom: inherit;
					margin-top: 2em;
				}
				ul{
					padding: 0;
					margin: 0;
					text-align: center;
					li{
						display: inline-block;
						margin: 0;
						
						a {
							transition: all 0.3s;
							&.social-icn{
								display: block;
								width: 32px;
								height: 32px;
								background-image: url('../img/icons/sprite-social.png');
								text-indent: -9999999999em;
								//list of social icons
								&.fb {
									background-position: 0 0;
									&:hover {
										background-position: 0 -32px;
									}
								}
								&.tw {
									background-position: -56px 0;
									&:hover {
										background-position: -56px -32px;
									}
								}
								&.in {
									background-position: -111px 0;
									&:hover {
										background-position: -111px -32px;
									}
								}
								&.yt {
									background-position: -166px 0;
									&:hover {
										background-position: -166px -32px;
									}
								}
								&.lin {
									background-position: -221px 0;
									&:hover {
										background-position: -221px -32px;
									}
								}
								&.let {
									background-position: -275px 0;
									&:hover {
										background-position: -275px -32px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
