body{
	&.page-template-home-tpl {
		//Video component
		#video-container {
			height: 100vh;
			width: 100%;
			position: relative;
			box-shadow: inset 0 0 40em $black;
			background-image: url('../img/bgs/bg_6.jpg');
			position: relative;
			overflow: hidden;
			#video-background {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				z-index: 0;
				transform: translateX(-50%) translateY(-50%);
				background: black;
				background-size: auto auto;
				background-size: cover;
				transition: 1s opacity;
				@include mobile{
					display: none;
				}
			}
			@include bgcover;

			//Copy
			.copy-video {
				margin-top: 250px;
				position: relative;
				z-index: 2;
				img {
					display: block;
					max-width: 100%;
					@include mobile{
						margin: 1em auto;
					}
				}
			}
			@include mobile{
				height: auto;
				min-height: 100vh;
			}
		}
		//Infographics container
		#infographics-container{
			height: 760px;
			width: 100%;
			position: relative;
			box-shadow: inset 0 0 60em $black;
			background-image: url('../img/bgs/bg_14.jpg');
			@include bgparallax;
			.text {
				position: relative;
				z-index: 1;
				padding-top: 5em;
				img {
					max-width: 100%;
					display: block;
					margin: 1em auto;
				}
				.text-body {
					color: $white;
					font-size: em(25);
					text-align: center;
				}
			}
			.image{
				position: relative;
				z-index: 1;
				max-width: 100%;
				padding-top: 10em;
				img{
					display: block;
					margin: 1em auto;
					max-width: 100%;
				}
				@include mobile{
					padding-top: 2em;
				}
			}
			@include mobile{
				height: auto;
				min-height: 100vh;
			}
			@include overlay($black,0.5);
		}

		//Items value container
		#items-value-container {
			.head-body {
				text-align: center;
				h2 {
					line-height: 0;
					font-size: em(40);
					font-family: $rale;
					text-transform: uppercase;
					margin-top: 2em;
					@include mobile{
						line-height: 1;
					}
				}
				h3 {
					line-height: 1;
					font-size: em(65);
					color: $yellow;
					text-transform: uppercase;
					margin-bottom: 0.5em;
					@include mobile{
						font-size: em(35);
					}
				}
				p {
					font-size: em(25);
				}
			}
			//items
			.value-items {
				overflow: hidden;
				margin-top: 2em;
				.item {
					position: relative;
					height: 490px;
					@include overlay($black,0.5);
					&::after {
						z-index: 1 !important;
					}
					@include mobile{
						margin-bottom: 1.3em;
					}
					.back,
					.front {
						position: absolute;
						top: 0;
						left:0;
						width: 100%;
						height: 100%;
						z-index: 1;
						@include bgcover;
					}
					.front {
						display: none;
					}
					figure{
						position: relative;
						z-index: 2;
						transition: all 0.5s;
						padding: 80% 0 0;
						img {
							display: block;
							margin: 1em auto;
						}
					}
					.text-body {
						position: relative;
						z-index: 2;
						color: white;
						text-align: center;
						h3 {
							text-transform: uppercase;
							font-family: $rale;
							font-size: em(24);
							line-height: 0;
							a {
								color: $white;
							}
						}
						h4{
							text-transform: uppercase;
							font-size: em(24);
							font-family: $openebd;
							line-height: 1;
							a {
								color: $white;
							}
						}
						p{
							display: none;
						}
					}
					&:hover {
						.back{
							display: none;
						}
						.front{
							display: block;
						}
						.text-body {
							p {
								display: block;
							}
						}
					}
					@include overlay($black,0.5);
				}
			}
		}
		//impact bs
		#impact-value-container {
			.head-body {
				text-align: center;
				h2 {
					line-height: 0;
					font-size: em(40);
					font-family: $rale;
					text-transform: uppercase;
					margin-top: 2em;
				}
				h3 {
					line-height: 1;
					font-size: em(65);
					color: $yellow;
					text-transform: uppercase;
					margin-bottom: 1.5em;
					@include mobile{
						font-size: em(35);
					}
				}
				p {
					display: none;
				}
			}
			//Impact bs items
			.impact-items {
				.item {
					figure{
						display: inline-block;
						vertical-align: middle;
						width: 30%;
						img {
							max-width: 100%;
						}
					}
					.text-body{
						display: inline-block;
						vertical-align: middle;
						width: 68%;
						p {
							font-family: $rale;
							font-size: em(17);
							line-height: 1;
							text-transform: uppercase;
							margin: 22px 0 5px;
							strong,b {
								font-size: em(54);
								font-family: $raleebd;
								color: $yellow;
								line-height: 0;
							}
						}
					}
				}
			}
		}

		//Brainpop
		#brainpop-container {
			text-align: center;
			padding-top: 5em;
			@include mobile{
				display: none;
			}
			h2 {
				line-height: 0;
				font-size: em(40);
				font-family: $rale;
				text-transform: uppercase;
				margin-top: 2em;
			}
			h3 {
				line-height: 1;
				font-size: em(65);
				color: $yellow;
				text-transform: uppercase;
				margin-bottom: 1.5em;
			}
			object {
				margin: 1em auto;
				display: block;
			}
		}

		//partners
		#partners-container {
			text-align: center;
			padding-top: 5em;
			.item {
				display: inline-block;
				margin: 1em;
				width: 12%;
				@include mobile{
					width: 100%;
					margin: 0;
				}
				img {
					max-width: 100%;
				}
			}
		}
	}
}
