//Home noticias
body {
	&.search-results,
	&.page-template-news-tpl {
		box-shadow: inset 0 0 40em $black;
		background-image: url('../img/bgs/bg_16.jpg');
		@include bgcover;
		//cabera
		header {
			&.page-head {
				position: relative;
				z-index: 3;
				text-align: center;
				width: 100%;
				padding: 2em 0;
				@include mobile {
					padding: 9em 0 0;
				}
				h2 {
					display: inline-block;
					color: $yellow;
					font-size: em(55);
					font-family: $ralebk;
					text-transform: uppercase;
					@include mobile {
						font-size: em(35);
					}
				}
			}
		} // EOF HEADER

		//Search form
		.the-search {
			background-color: $opBlack;
			padding: 1em;
			form {
				margin: 0 auto;
				width: 90%;
				max-width: 720px;
				position: relative;
				input{
					&[type="text"]{
						background-color: $opBlack;
						border-radius: 1em;
						color: $white;
					}
					&[type="submit"] {
						position: absolute;
						top: 0;
						right: 0;
						background-color: transparent;
						border: none;
						z-index: 1;
					}
				}
				&::after {
					@include fa-icon ("\f002", $white, em(17));
					position: absolute; 
					z-index:0;
					top: 5px;
					right: 12px; 
				}
			}
		}

		.news-list {
			@include clearfix;
			.new-item {
				position: relative;
				height: 350px;
				padding: 2em;
				box-shadow: inset 0 0 8em $black;
				text-align: center;
				transition: all 0.5s;
				z-index: 4;
				outline: 1px solid $white;
				@include bgcover;
				@include overlay($black,0.2);
				h3 {
					padding-top: 3em;
					font-family: $raleBd;
					color: $white;
					position: relative;
					z-index: 5;
					font-size: em(18);
					text-transform: uppercase;
				}
				p {
					display: none;
					color: $white;
					position: relative;
					z-index: 5;
				}
				&:hover {
					h3{
						color: $black;
					}
					p {
						display: block;
						color: $black;
					}
					@include overlay($yellow,0.7);
				}
			}
		}
		//Pagination
		.custom-pagination{
			clear: both;
			width: 100%;
			height: 50px;
			text-align: center;
			span,
			a { 
				display: inline-block;
				color: $white;
				font-family: $raleBd;
				font-size: em(16);
				margin: 1em;
			}
		}
	}
}