//we do
body {
	&.page-template-what-we-do-tpl{
		box-shadow: inset 0 0 40em $black;
		background-image: url('../img/bgs/bg_10.jpg');
		background-color: $black;
		@include bgcover;
		@include overlay($black,0.5);
		background-attachment: fixed;
		&::after{
			position: fixed;
			z-index: -1;
		}
		@include mobile {
			background-size: 100% auto;
			background-repeat: no-repeat;
			box-shadow: none;
			background-position: top center;
			&::after {
				display: none;
			}
		}
		//cabera
		header {
			&.main-header {
				position: relative;
				z-index: 3;
				text-align: center;
				width: 100%;
				padding: 2em 0 0;
				z-index: 2;
				@include mobile {
					padding: 9em 0 0;
				}
				h2 {
					display: inline-block;
					color: $yellow;
					font-size: em(70);
					font-family: $ralebk;
					text-transform: uppercase;
					@include mobile {
						font-size: em(35);
					}
				}
			}
		} // EOF HEADER

		//The infographics
		.infographics {
			//cabera
			header {
				&.main-header {
					width: 100%;
					padding: 1em 0;
					h3 {
						display: inline-block;
						color: $yellow;
						font-size: em(40);
						font-family: $raleBd;
						text-transform: uppercase;
						@include mobile {
							font-size: em(20);
						}
					}
				}
			} // EOF HEADER

			.the-infographics {
				@include mobile {
					display: none;
				}
				img {
					max-width: 100%;
					height: auto;
					display: block;
					margin: 0 auto;
				}
			}

			#cd-timeline {
				display: none;
				position: relative;
				padding: 2em 0;
				margin-top: 2em;
				margin-bottom: 2em;
				z-index: 2;
				@include mobile {
					display: block;
				}
				&::before {
					/* this is the vertical line */
					content: '';
					display: none;
					position: absolute;
					top: 0;
					left: 18px;
					height: 100%;
					width: 4px;
					background: $blue;
					z-index: 0;
					@include desktop {
						left: 50%;
						margin-left: -2px;
					}
				}

				.cd-timeline-block {
					position: relative;
					margin: 2em 0;
					&:first-child {
						margin-top: 0;
						.cd-timeline-content {
							h3 {
								color: $blue;
							}
						}
					}

					&:last-child {
						margin-bottom: 0;
						.cd-timeline-content {
							h3 {
								color: $yellow;
							}
						}
					}
					//conditional left
					@include desktop {
						&:nth-child(even) {
							@include clearfix;
							.cd-timeline-content {
								float: right;
								&::before {
									top: 24px;
									left: auto;
									right: 100%;
									border-color: transparent;
									border-right-color: $opBlack;
								}
							}
						}
					}

					.cd-timeline-img {
						position: absolute;
						top: 0;
						left: 0;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						@include mobile{
							width: 50px;
							height: 50px;
						}
						img {
							display: block;
							width: 44px;
							height: 44px;
							position: relative;
							left: 50%;
							top: 50%;
							margin-left: -22px;
							margin-top: -22px;
							@include mobile{
								width: 40px;
								height: 40px;
								margin-top: -12px;
								margin-left: -12px;
							}
						}

						@include desktop {
							width: 60px;
							height: 60px;
							left: 50%;
							margin-left: -30px;

							/* Force Hardware Acceleration in WebKit */
							-webkit-transform: translateZ(0);
							-webkit-backface-visibility: hidden;

							.cssanimations &.is-hidden {
								visibility: hidden;
							}

							.cssanimations &.bounce-in {
								visibility: visible;
								animation: cd-bounce-1 0.6s;
							}
						}
					}
					//Content timeline
					.cd-timeline-content {
						position: relative;
						margin-left: 60px;
						background: $opBlack;
						padding: 1em;
						box-shadow: 0 3px 0 $black;
						@include clearfix;

						h3 {
							color: $green;
						}

						p {
							color: $white;
							margin: 1em 0;
							line-height: 1.6;
						}

						&::before {
							content: '';
							position: absolute;
							top: 16px;
							right: 100%;
							height: 0;
							width: 0;
							border: 7px solid transparent;
							border-right: 7px solid $opBlack;
						}

						@include mobile {
							h2 {
								font-size: em(20);
							}

							p {
								font-size: em(16);
							}

							.cd-read-more, .cd-date {
								font-size: em(14);
							}
						}

						@include desktop {
							margin-left: 0;
							padding: 1.6em;
							width: 45%;

							&::before {
								top: 24px;
								left: 100%;
								border-color: transparent;
								border-left-color: $green;
							}

							.cssanimations &.is-hidden {
								visibility: hidden;
							}

							.cssanimations &.bounce-in {
								visibility: visible;
								animation: cd-bounce-1 0.6s;
							}
						}
					}//EOF Animation
				}
			}
		}

		//Ubication
		.ubication {
			//cabera
			header {
				&.main-header {
					width: 100%;
					padding: 5em 0;
					@include mobile {
						padding: 1em 0;
					}
					h3 {
						display: inline-block;
						color: $yellow;
						font-size: em(50);
						font-family: $ralebk;
						text-transform: uppercase;
						@include mobile{
							font-size: em(25);
						}
					}
				}
			} // EOF HEADER
			.ubi-items {
				.ubi-block {
					padding: 1em 0;
					.cd-content {
						display: inline-block;
						vertical-align: middle;
						width: 77%;
						text-align: right;
						@include mobile {
							width: 100%;
							text-align: center;
						}
						h3,h4 {
							color:$yellow;
							text-transform: uppercase;
						}
						p {
							color: $white;
						}
						a{
							color: $white;
							background-color: $yellow;
							text-transform: uppercase;
							font-family: $raleBd;
							padding: em(10) em(16);
							border-radius: em(5);
							margin-top: em(10);
							display: inline-block;
							&:hover{
								background-color: $grey;
							}
						}
					}
					.cd-img	{
						display: inline-block;
						vertical-align: middle;
						width: 20%;
						@include mobile {
							width: 100%;
						}
						img {
							display: block;
							max-width: 90%;
							margin: 0 auto;
						}
					}
				}
			}
			.img-map {
				img {
					display: block;
					margin: 1em auto;
					max-width: 100%;
					@include desktop {
						margin-top: 4em;
					}
				}
			}
		}// EOF ub

		//gest info
		.gestion {
			#cd-gestion {
				//cabera
				header {
					&.main-header {
						width: 100%;
						padding: em(16) 0;
						@include mobile {
							padding: em(18) 0;
						}
						h3 {
							display: inline-block;
							color: $yellow;
							font-size: em(50);
							width: 100%;
							font-family: $ralebk;
							text-transform: uppercase;
							@include mobile{
								font-size: em(25);
							}
						}
						h4{
							display: block;
							text-align: center;;
							font-size: em(28);
							font-family: $ralemd;
							text-transform: uppercase;
							color: $yellow;
							@include mobile{
								font-size: em(18);
							}
						}
					}
				} // EOF HEADER

				ul {
					&.nav.nav-tabs {
						position: relative;
						border: none;
						text-align: center;
						padding: em(24) 0;
						@include mobile {
							margin-top: em(20);
						}
						li {
							position: relative;
							border: none;
							float: none;
							display: inline-block;
							width: 15%;
							@include mobile {
								width: 100%;
								display: block;
							}
							@include desktop {
								&:nth-child(2),
								&:nth-child(3),
								&:first-child {
									&::after{
										content: "";
										display: block;
										width: 2px;
										height: 100%;
										background-color: $white;
										position: absolute;
										top: 0;
										right: 0;
									}
								}
							}
							a {
								text-transform: uppercase;
								font-size: em(20);
								color: $white;
								font-family: $ralemd;
								border: none;
								transition: all 0.5s;
							}
							&:hover,
							&.active {
								background-color: transparent;
								border: none;
								a {
									color: $yellow;
									background-color: transparent;
								}
							}
						}
					}
				}//EOF Nav
				//content
				.tab-content {
					.tab-pane {
						@include clearfix;
						h3 {
							display: inline-block;
							color: $yellow;
							font-size: em(30);
							font-family: $raleebd;
							text-align: center;
							text-transform: uppercase;
							margin: em(18) 0;
							@include mobile{
								font-size: em(20);
							}
						}
						h4{
							color: $yellow;
							text-align: center; 
						}
						.text-info {
							padding-top: 9em;
							@include mobile {
								padding-top: 4em;
							}
							.text-item {
								margin: 2em;
								text-align: right;
								@include mobile {
									text-align: center;
								}
								p {
									color: $white;
									font-family: $openbd;
									font-size: em(18);
									display: inline-block;
									vertical-align: middle;
									text-align: right;
									position: relative;
									padding-right: 15%;
									&::after{
										content: "";
										display: block;
										position: absolute;
										right: 0;
										top: 50%;
										margin-top: -10px;
										width: 20px;
										height: 20px;
										border-radius: 100%;
									}
								}
								&:first-child{
									p{
										&::after{
											background-color: $green;
										}
									}
								}
								&:nth-child(2){
									p{
										&::after{
											background-color: $blue;
										}
									}
								}
								&:nth-child(3){
									p{
										&::after{
											background-color: $red;
										}
									}
								}
							}
						}
						.graph-info {
							position: relative;
							padding-top: 3em;
							max-height: 420px;
							@include mobile {
								padding-top: 2em;
								max-width: 320px;
								margin: 1em auto;
							}
							.kn-cont {
								position: relative;
								margin: 0 auto;
								text-align: center;
								span {
									display: inline-block;
									position: absolute;
									left: 47%;
									bottom: 6px;
									color: $white;
									font-family: $openbd;
								}
								&:nth-child(1){
									top: 0px;
									@include mobile {
										top: -1px;
										left: -14px;
										span {
    										left: 50%;
    									}
									}
									@include iphoneV {
										top: -2px;
    									left: -30px;
    									span {
    										left: 56%;
    									}
									}
								}
								&:nth-child(2){
									top: -266px;
								}
								&:nth-child(3){
									top: -426px;
								}
							}
						}
					}
				}
			}
			#inf-gestion {
				//cabera
				header {
					&.main-header {
						width: 100%;
						padding: 0;
						@include mobile {
							padding: 1em 0;
						}
						h3 {
							display: inline-block;
							color: $yellow;
							font-size: em(50);
							font-family: $ralebk;
							text-transform: uppercase;
							@include mobile{
								font-size: em(25);
							}
						}
					}
				} // EOF HEADER

				ul{
					position: relative;
					border: none;
					text-align: center;
					padding: 2em 0;
					li {
						position: relative;
						border: none;
						float: none;
						display: inline-block;
						width: 10%;
						@include mobile {
							width: 100%;
							display: block;
							padding: 0.5em 0;
							&::after{
								display: none;
							}
						}
						@include desktop {
							&::after{
								content: "";
								display: block;
								width: 2px;
								height: 100%;
								background-color: $white;
								position: absolute;
								top: 0;
								right: 0;
							}
							&:last-child {
								&::after {
									display: none;
								}
							}
						}
						a {
							text-transform: uppercase;
							font-size: em(18);
							color: $white;
							font-family: $ralemd;
							border: none;
							transition: all 0.5s;
						}
						&:hover,
						&.active {
							background-color: transparent;
							border: none;
							a {
								color: $yellow;
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
}
