.hero {
    &-questions {
        display: block;
        width: 100%;
        height: 100vh;
        min-height: rem(600px);
        @include bgcover;

        &--text {
            @include wrapper;
            padding-top: rem(120px);
            max-width: rem(960px);
            text-align: center;

            h2 {
                color: $yellow;
                font-size: em(40);
                font-family: $ralebk;
                text-transform: uppercase;
            }

            p {
                color: $white;
            }
        }
    }
}
