//colors
$white: #ffffff;
$black: #000000;
$aqmarine: #00a5a9;
$grey: #3c3c3c;
$grey-1: #808080;
$grey-2: #AFAFAF;
$grey-3: #E6E6E6;
$grey-4: #585857;
$dblue: #316767;
$curuba: #FFF3DC;
$blue: #00A2A6;
$green: #C9CB00;
$dgrey: #39393a;
$lgrey: #f8f8f8;
$lgrey2: #dfe3e9;
$lgrey3: #fafafa;
$lgrey4: #f1f1f1;
$txtGrey: #3c3c3c ;
$yellow: #ffbb01;
$red: #CC0B3C;


//Opacaities
$opBlack: rgba(0,0,0,0.5);
$opGrey: rgba(151,151,151,0.8);
$opYellow: rgba(255, 187, 1, 0.7);

//screens
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1282px;
$sm-desktop-width: 1024px;
$big-desktop-width: 1481px;

//Fonts
$ralesbd: 'Raleway Semi Bold';
$ralebk: 'Raleway Black';
$ralemd: 'Raleway Medium';
$raleEl:'Raleway ExtraLight';
$rale: 'Raleway Regular';
$openbd: 'Open Sans Bold';
$raleebd: 'Raleway Extra Bold';
$merryubd: 'Merriweather Ultra Bold Italic';
$merryit: 'Merriweather Italic';
$raleBd: 'Raleway Bold';
$merrybd: 'Merriweather Bold Italic';
$openlt:'Open Sans Light';
$open: 'Open Sans';
$openebd:'Open Sans Extra Bold';