.question-list--questions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include mq('md') {
        width: 72%;
    }
}

.filter-questions--item {
    width: 94%;
    position: relative;
    margin: rem(20px) auto;
    padding: rem(16px);
    text-align: left;
    border-radius: rem(20px);
    background-color: $white;

    @include mq('md') {
        width: 30%;
        min-height: rem(350px);
        margin: 0 1.5% 3%;
    }

    header {
        
        span {
            display: block;
            width: rem(50px);
            height: rem(50px);
            @include iconBg('../img/icons/icon-question.svg');
        }

        h3 {
            color: $red;
        }
    }

    &-text {
        ul {
            padding: rem(10px) 0;

            li {
                display: inline-block;
                vertical-align: middle;


                &:first-child {
                    padding-right: rem(10px);
                    border-right: rem(1px) solid;
                }

                &:last-child {
                    padding-left: rem(10px);
                }
            }
        }

        a {
            font-family: $ralebk;
            display:block;
            @include font(18px);
            text-transform: uppercase;
            color: $yellow;
            margin-top: rem(100px);

            @include mq('md') { 
                position: absolute;
                width: 90%;
                bottom: rem(20px);
                left: rem(20px);
            }
        }
    }
}