body {
    &.page-template-answers-tpl {
        background-color: $lgrey2;
        background-image: url('../img/bgs/pattern-education.svg');

        // List of questions markup
        .question-list {

            &--wrapper {
                @include wrapper;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
            }
        }
    }
}